.header_demo{
	top: 0px;
	position: fixed; 
	background-color: white;
	width: 100%;
	.header_center_demo{
		margin-left: 10%;
		margin-right: 10%;
		transition: all 0.5s;
		.header_navigation_demo{
			@include span(12);
			display: block;/* 
			background-color: red; */
			ul{
				@include span(12);
				float: left;
				list-style-type: none;
				margin: 0px 0px;
				height: 55px;
				padding: 0;/* 
				background-color: yellow; */
				li{
					position: relative;
		            display: inline-block;
					list-style-type: none;
		            padding: 18px;
		            font-size: 17px;
		            /* background-color: blue; */
					a{
						color: black;
			           	text-decoration: none; 
			           	font-size: 16px;
			           	font-weight: bold;
			           	font: Liberation Sans Narrow;
			           	padding: 19px 30px; /*  atas.bawah  , kanan.kiri*/
			           
					}
					&:hover{
						background-color: #EEEEEE ;
					}
				}
			}
		}
	}
}


.contain_demo{
	padding-top: 100px;
	background-color: white;
	width: 100%;
	height: 300px;
	.contain_center_demo{
		margin-left: 10%;
		margin-right: 10%;
		transition: all 0.5s;
	.judul{
		font-size: 20px;
		font-weight: bold;
	}
	.half{
		@include span(6);
	}
	
	.code{
	    width:100%;
	    display: inline-block;
	    background-color: #E1F4FA;
	    border-radius: 5px;
	    box-shadow: 0px 5px 20px #000000;
	    margin-top: 20px;
	    xmp{
		    background-color: #FFFFFF ;
		    border-left:5px solid #20BBE6 ;
		    height: auto;
		    padding:0px 10px;
		    width:95%;
		    margin-left: 5px;
		    margin-right: 5px;
		    line-height:20px;
		    font-size: 15px;
		}
	}
		.html{
			display: none;
			p{
				font-size:20px;
				padding-left: 40px;
			}
			#html{
			}
		}
		.css{
			display: none;
			.kotak{
				background-color: red ;
                width: 400px;
                height: 200px;
			}
			#css{
			}
		}
		.java{
			display: none;
			.click{
				display: block;
				list-style-type: none;
				a{
					color: black;
					text-decoration: none;
					font-size:20px;
					&:hover{
						color: red;
					}
				}
				#click{
				}	
			}
			.hide{
				display: none;
				a{
					color: black;
					text-decoration: none;
					font-size:20px;
					&:hover{
						color: red;
					}
				}
				#hide{
				}
			}
			.kotak_hide{
				display: none;
				margin-top: 20px;
				background-color: red ;
	            width: 400px;
	            height: 200px;
			}
			#java{
			}
		}
		.header_content_footer{
			display: none;
			.content_header{
				margin-top: 20px;
				width: 100%;
				height: 150px;
				border: 1px solid black;
				p{
					padding-top: 40px;
					text-align: center;
					font-size: 20px;
					font-weight: bold;
				}
			}
			.content_content{
				margin-top: 1px;
				width: 100%;
				height: 400px;
				border: 1px solid black;
				p{
					padding-top: 150px;
					text-align: center;
					font-size: 20px;
					font-weight: bold;
				}
			}
			.content_footer{
				margin-top: 1px;
				width: 100%;
				height: 100px;
				border: 1px solid black;
				p{
					padding-top: 30px;
					text-align: center;
					font-size: 20px;
					font-weight: bold;
				}
			}
			#header_content_footer{
			}
		}
		.heading{
			display: none;
			#heading{
			}
		}
		.margin_padding{
			display: none;
			.margin_1{
				height: 150px;
				// width: 150px;
				background-color: pink;
				h3{
					padding: 50px;
				}
			}
			.margin_2{
				height: 150px;
				// width: 150px;
				background-color: orange;
				margin-top: 50px;
			}
			#margin_padding{
			}
		}
		.breakpoint{
			display: none;
			background-color: red;
			height: 1138px;
			@include susy-breakpoint($desktop-size){
				background-color: blue;
			}
			#breakpoint{
			}
		}
		.container{
			display: none;
			#container{
			}
		}
		.atribut{
			display: none;
			#atribut{
			}
		}
		.list{
			display: none;
			#list{
			}
		}
		.position{
			display: none;
			.position_property{
				@include span (12);
				height: 100vh;
				.fixed{
					width: 1809px;
					height: 100px;
					background-color: blue;
					position: fixed;
					bottom: 0;
					z-index: 100;
					color: white;
					font-size: 20px;
					text-align: center;
					font-weight: bold;
					line-height: 100px;
				}
				.awal_1{
					width: 500px;
					height: 200px;
					background-color: yellow;
					position: relative;
					color: black;
					font-size: 20px;
					line-height: 200px;
					text-align: center;
					font-weight: bold;
				}
				.awal_2{
					width: 500px;
					height: 200px;
					background-color: blue;
					position: relative;
					margin-bottom: 30px;
				}
				.half_2{
					@include span(6 nest);
					border: 1px solid black;
					position: relative;
					height: 400px;
					.relative_1{
						width: 500px;
						height: 200px;
						background-color: yellow;
						position: relative;
						left: 200px;
						font-size: 20px;
						color: black;
						line-height: 200px;
						text-align: center;
						font-weight: bold;
					}
					.relative_2{
						width: 500px;
						height: 200px;
						background-color: blue;
					}
				}
				.half_2{
					@include span(6 nest);
					border: 1px solid black;
					position: relative;
					height: 400px;
					.absolute_1{
						width: 500px;
						height: 200px;
						background-color: yellow;
						position: absolute;
						right: 10px;
						color: black;
						font-size: 20px;
						line-height: 200px;
						text-align: center;
						font-weight: bold;
					}
					.absolute_2{
						width: 500px;
						height: 200px;
						background-color: blue;

					}
				}
			}
			#position{	
			}
		}
	}
}





